name: Render and Publish Skins Page

on:
  schedule:
    # 6:00 PM – 11:40 PM CST (Every 20 mins) -> 00:00 – 05:40 UTC
    - cron: '*/20 0-5 * * *'
    # Midnight – 5:59 PM CST (Every 3 hours) -> 06:00 – 23:59 UTC
    - cron: '0 6-23/3 * * *'
  
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: 'latest'
          use-public-rspm: true 

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install R Dependencies
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rvest
            any::httr
            any::dplyr
            any::tidyr
            any::stringr
            any::lubridate
            any::tibble
            any::knitr
            any::kableExtra
            any::readr
            any::ggplot2
            any::pacman

      - name: Create history directory
        run: mkdir -p skins_history

      - name: Render Quarto Document
        run: quarto render skins_today.qmd --to html --output-dir _site --output index.html

      - name: Commit history updates
        continue-on-error: true
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add skins_history/*.csv
          git diff --staged --quiet || git commit -m "Update skins history - $(date +'%Y-%m-%d')"
          git push

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './_site'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
